{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->
{% block body %}


<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List all Criterions</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">List All Clubs</a></li>
                        <li class="breadcrumb-item active">Admin - Criterions.</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-0">
				<div class="card-header">
					<h4 class="card-title mb-0" id="crtitile">Assign Criterions </h4>
					<p class="card-text">
						This is the list of all Criterions (Both Active & Disabled)
					</p>
					 <a href="/adminapp/assign-new-criteria"> <button type="button" class="btn btn-success">Add Criteria</button> </a>
				</div>
<!--				 OLD Method - Disabled after JSOn Field Introduction-->
<!--				<div class col-md4 style="padding: 20px; justify-content-center">-->

<!--   					 <form method="post" action="/adminapp/assign-criterion"  enctype="multipart/form-data">-->
<!--                      {% csrf_token %}-->
<!--                        <label for="criterion">Choose a Criterion:</label>-->
<!--                          <select name="criterion" id="criterion">-->
<!--                            {% for obj in objects %}-->
<!--                            <option value="{{obj.pk}}"> {{obj.criteria_id}} </option>-->
<!--                             {% endfor %}-->
<!--                          </select>-->

<!--						 <label for="role">Choose a User Role:</label>-->
<!--                          <select name="role" id="role">-->
<!--                            {% for role in roles %}-->
<!--                            <option value="{{role.0}}">{{role.1}}</option>-->
<!--                             {% endfor %}-->
<!--                          </select>-->
<!--						  <button type="submit" class="btn btn-primary">Assign</button>-->
<!--                    </form>-->
<!--				</div>-->

				<div class="card-body">

					<div class="table-responsive">
						<table class="datatable table table-stripped mb-0">
							<thead>
								<tr style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
									<th>SL</th>
									<th>Criterion</th>
									<th>IQAC </th>
									<th>Department</th>
									<th>Teacher</th>
									<th>Club</th>
									<th>Other</th>
									<th>STAFF </th>
									<th>Status</th>
									<th>Change Status </th>
									<th>Update</th>
								</tr>
							</thead>
							<tbody>
							{% for obj in objects %}
								<tr style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
									<td> {{forloop.counter}}  </td>
									<td> {{obj.criteria}} </td>
									<td class="text-success"> {% if obj.NAAC_COD %}
										 YES
										 {% else %} - {% endif %} </td>
									<td class="text-primary"> {% if obj.DEPT_COD %}
										 YES
										 {% else %} - {% endif %} </td>
									<td class="text-warning"> {% if obj.TEACHER %}
										 YES
										 {% else %} - {% endif %} </td>
									<td class="text-info"> {% if obj.CLUB %}
										 YES
										 {% else %} - {% endif %} </td>
									<td class="text-secondary"> {% if obj.OTHER %}
										 YES
										 {% else %} - {% endif %} </td>
									<td class="text-dark"> {% if obj.STAFF %}
										 YES
										 {% else %} - {% endif %} </td>

									<td>  {% if obj.is_active %}
										<button type="button" class="btn btn-primary btn-sm">Active</button>
											{% else %}
										<button type="button" class="btn btn-secondary btn-sm">Inactive</button>
											{% endif %}
									</td>
									 {% if obj.is_active %}
									 <td>  <form method="post" action="/adminapp/disable-criteria/{{obj.id}}"
									 	   onSubmit="return confirm('Do you want to Disable ?')" >
										 {% csrf_token %}
										 <button type="submit" class="btn btn-danger btn-sm">Disable </button>  </form> </td>
									{% else %}
									 <td>  <form method="post" action="/adminapp/enable-criteria/{{obj.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-success btn-sm"> Activate </button>
									 </form> </td>
									{% endif %}
									<td>  <form method="gett" action="/adminapp/update-criteria/{{obj.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-info btn-sm"> Update </button>
									 </form> </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- End Main content-->


{% endblock %}