{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->
	 <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Dashboard</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">User Home</li>
								</ul>
							</div>
						</div>
					</div>

	 </div>


		<!-- Page Wrapper -->
<!--            <div class="page-wrapper">-->

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome {{user.first_name}} {{user.last_name}} </h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Your Current Role is: {{user.user_scope}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					        {% if messages %}
							<div class="alert  alert-light alert-dismissible fade show" role="alert">
							{% for message in messages %} {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} 	{{ message }} </span> {% endfor %}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
							</button>
							</div>
							{% endif %}
					<div class="row">
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-windows"></i></span>
									<div class="dash-widget-info">
										<h3>Download APP</h3>
										<span>Download Link</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-file-pdf-o"></i></span>
									<div class="dash-widget-info">
										<h3>Summary of PDF</h3>
										<span>Merge all PDF present </span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-picture-o"></i></span>
									<div class="dash-widget-info">
										<h3> PDF With Text </h3>
										<span>Printable format of all images</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-picture-o"></i></span>
									<div class="dash-widget-info">
										<h3> PDF Without Text</h3>
										<span>Printable Images without any Text</span>
									</div>
									</div>
								</div>
							</div>
						</div>

<!--                    	<div class="row" id="table-data">-->
<!--                           <div class="container">-->
<!--                             <form method="post" >-->
<!--								 {% csrf_token %}-->
<!--								  <label for="media">Choose a criteria:</label>-->

<!--									<select name="media" id="media">-->
<!--									<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--									{% for obj in objects %}-->
<!--									<option value="{{obj.criteria_id}}"> {{obj.criteria }}</option>-->
<!--									{% endfor %}-->
<!--									</select>-->
<!--								 	<button type="submit" class="btn-btn info">Generate PDF </button>-->
<!--							 </form>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>

<!-- End Main content-->
{% endblock %}