<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
  </head>
  <body>
    {% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %} {% block body %}
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="page-title">Dashboard</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">User Home</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="page-title">Welcome {{user.first_name}} {{user.last_name}} </h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item active">Your Current Role is: {{user.user_scope}} </li>
            </ul>
          </div>
        </div>
      </div>
      {% if messages %}
      <div class="alert  alert-light alert-dismissible fade show" role="alert">{% for message in messages %} {% if message.tags %}
        <span class="{{ message.tags }}">{% endif %} {{ message }} </span>{% endfor %}<button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">??</span></button>
      </div>
      {% endif %}
      <div style="display:flex; width:auto">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C1.1.1</th>
                <th>{{c1_1_1}}</th>
              </tr>
              <tr>
                <th>C1.1.2</th>
                <th>{{c1_1_2}}</th>
              </tr>
              <tr>
                <th>C1.1.3</th>
                <th>{{c1_1_3}}</th>
              </tr>
              <tr>
                <th>C1.2.1</th>
                <th>{{c1_2_1}}</th>
              </tr>
              <tr>
                <th>C1.2.2</th>
                <th>{{c1_2_2}}</th>
              </tr>
              <tr>
                <th>C1.3.1</th>
                <th>{{c1_3_1}}</th>
              </tr>
              <tr>
                <th>C1.3.2</th>
                <th>{{c1_3_2}}</th>
              </tr>
              <tr>
                <th>C1.3.3</th>
                <th>{{c1_3_3}}</th>
              </tr>
              <tr>
                <th>C1.3.4</th>
                <th>{{c1_3_4}}</th>
              </tr>
              <tr>
                <th>C1.4.1</th>
                <th>{{c1_4_1}}</th>
              </tr>
              <tr>
                <th>C1.4.2</th>
                <th>{{c1_4_2}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C2.1.1</th>
                <th>{{c2_1_1}}</th>
              </tr>
              <tr>
                <th>C2.1.2</th>
                <th>{{c2_1_2}}</th>
              </tr>
              <tr>
                <th>C2.1.3</th>
                <th>{{c2_1_3}}</th>
              </tr>
              <tr>
                <th>C2.2.1</th>
                <th>{{c2_2_1}}</th>
              </tr>
              <tr>
                <th>C2.2.2</th>
                <th>{{c2_2_2}}</th>
              </tr>
              <tr>
                <th>C2.2.3</th>
                <th>{{c2_2_3}}</th>
              </tr>
              <tr>
                <th>C2.3.1</th>
                <th>{{c2_3_1}}</th>
              </tr>
              <tr>
                <th>C2.3.2</th>
                <th>{{c2_3_2}}</th>
              </tr>
              <tr>
                <th>C2.3.3</th>
                <th>{{c2_3_3}}</th>
              </tr>
              <tr>
                <th>C2.3.4</th>
                <th>{{c2_3_4}}</th>
              </tr>
              <tr>
                <th>C2.4.1</th>
                <th>{{c2_4_1}}</th>
              </tr>
              <tr>
                <th>C2.4.2</th>
                <th>{{c2_4_2}}</th>
              </tr>
              <tr>
                <th>C2.4.3</th>
                <th>{{c2_4_3}}</th>
              </tr>
              <tr>
                <th>C2.4.4</th>
                <th>{{c2_4_4}}</th>
              </tr>
              <tr>
                <th>C2.4.5</th>
                <th>{{c2_4_5}}</th>
              </tr>
              <tr>
                <th>C2.5.1</th>
                <th>{{c2_5_1}}</th>
              </tr>
              <tr>
                <th>C2.5.2</th>
                <th>{{c2_5_2}}</th>
              </tr>
              <tr>
                <th>C2.5.3</th>
                <th>{{c2_5_3}}</th>
              </tr>
              <tr>
                <th>C2.5.4</th>
                <th>{{c2_5_4}}</th>
              </tr>
              <tr>
                <th>C2.6.1</th>
                <th>{{c2_6_1}}</th>
              </tr>
              <tr>
              <th>C2.6.2</th>
              <th>{{c2_6_2}}</th>
              </tr>
              <tr>
              <th>C2.6.3</th>
              <th>{{c2_6_3}}</th>
              </tr>
              <tr>
              <th>C2.7.1</th>
              <th>{{c2_7_1}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C3.1.1</th>
                <th>{{c3_1_1}}</th>
              </tr>
              <tr>
                <th>C3.1.2</th>
                <th>{{c3_1_2}}</th>
              </tr>
              <tr>
                <th>C3.1.3</th>
                <th>{{c3_1_3}}</th>
              </tr>
              <tr>
                <th>C3.1.4</th>
                <th>{{c3_1_4}}</th>
              </tr>
              <tr>
                <th>C3.2.1</th>
                <th>{{c3_2_1}}</th>
              </tr>
              <tr>
                <th>C3.2.2</th>
                <th>{{c3_2_2}}</th>
              </tr>
              <tr>
                <th>C3.2.3</th>
                <th>{{c3_2_3}}</th>
              </tr>
              <tr>
                <th>C3.2.4</th>
                <th>{{c3_2_4}}</th>
              </tr>
              <tr>
                <th>C3.3.1</th>
                <th>{{c3_1_1}}</th>
              </tr>
              <tr>
                <th>C3.3.2</th>
                <th>{{c3_1_2}}</th>
              </tr>
              <tr>
                <th>C3.3.3</th>
                <th>{{c3_1_3}}</th>
              </tr>
              <tr>
                <th>C3.4.1</th>
                <th>{{c3_4_1}}</th>
              </tr>
              <tr>
                <th>C3.4.2</th>
                <th>{{c3_4_2}}</th>
              </tr>
              <tr>
                <th>C3.4.3</th>
                <th>{{c3_4_3}}</th>
              </tr>
              <tr>
                <th>C3.4.4</th>
                <th>{{c3_4_4}}</th>
              </tr>
              <tr>
                <th>C3.4.5</th>
                <th>{{c3_4_5}}</th>
              </tr>
              <tr>
                <th>C3.4.6 </th>
                <th>{{c3_4_6}}</th>
              </tr>
              <tr>
                <th>C3.4.7</th>
                <th>{{c3_4_7}}</th>
              </tr>
              <tr>
                <th>C3.4.8</th>
                <th>{{c3_4_8}}</th>
              </tr>
              <tr>
                <th>C3.5.1</th>
                <th>{{c3_5_1}}</th>
              </tr>
              <tr>
                <th>C3.5.2</th>
                <th>{{c3_5_2}}</th>
              </tr>
              <tr>
                <th>C3.5.3</th>
                <th>{{c3_5_3}}</th>
              </tr>
              <tr>
                <th>C3.6.1</th>
                <th>{{c3_6_1}}</th>
              </tr>
              <tr>
                <th>C3.6.2</th>
                <th>{{c3_6_2}}</th>
              </tr>
              <tr>
                <th>C3.6.3</th>
                <th>{{c3_6_3}}</th>
              </tr>
              <tr>
                <th>C3.6.4</th>
                <th>{{c3_6_4}}</th>
              </tr>
              <tr>
                <th>C3.7.1</th>
                <th>{{c3_7_1}}</th>
              </tr>
              <tr>
                <th>C3.7.2</th>
                <th>{{c3_7_2}}</th>
              </tr>
              <tr>
                <th>C3.7.3</th>
                <th>{{c3_7_3}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C4.1.1</th>
                <th>{{c4_1_1}}</th>
              </tr>
              <tr>
                <th>C4.1.2</th>
                <th>{{c4_1_2}}</th>
              </tr>
              <tr>
                <th>C4.1.2A</th>
                <th>{{c4_1_2a}}</th>
              </tr>
              <tr>
                <th>C4.1.2B</th>
                <th>{{c4_1_2b}}</th>
              </tr>
              <tr>
                <th>C4.1.2C</th>
                <th>{{c4_1_2c}}</th>
              </tr>
              <tr>
                <th>C4.1.2D</th>
                <th>{{c4_1_2d}}</th>
              </tr>
              <tr>
                <th>C4.1.2E</th>
                <th>{{c4_1_2e}}</th>
              </tr>
              <tr>
                <th>C4.1.3</th>
                <th>{{c4_1_3}}</th>
              </tr>
              <tr>
                <th>C4.1.4</th>
                <th>{{c4_1_4}}</th>
              </tr>
              <tr>
                <th>C4.2.1</th>
                <th>{{c4_2_1}}</th>
              </tr>
              <tr>
                <th>C4.2.2</th>
                <th>{{c4_2_2}}</th>
              </tr>
              <tr>
                <th>C4.2.3</th>
                <th>{{c4_2_3}}</th>
              </tr>
              <tr>
                <th>C4.2.4</th>
                <th>{{c4_2_4}}</th>
              </tr>
              <tr>
                <th>C4.2.5</th>
                <th>{{c4_2_5}}</th>
              </tr>
              <tr>
                <th>C4.2.6</th>
                <th>{{c4_2_6}}</th>
              </tr>
              <tr>
                <th>C4.3.1</th>
                <th>{{c4_3_1}}</th>
              </tr>
              <tr>
                <th>C4.3.2</th>
                <th>{{c4_3_2}}</th>
              </tr>
              <tr>
                <th>C4.3.3</th>
                <th>{{c4_3_3}}</th>
              </tr>
              <tr>
                <th>C4.3.4</th>
                <th>{{c4_3_4}}</th>
              </tr>
              <tr>
                <th>C4.4.1</th>
                <th>{{c4_4_1}}</th>
              </tr>
              <tr>
                <th>C4.4.2</th>
                <th>{{c4_4_2}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C5.1.1</th>
                <th>{{c5_1_1}}</th>
              </tr>
              <tr>
                <th>C5.1.2</th>
                <th>{{c5_1_2}}</th>
              </tr>
              <tr>
                <th>C5.1.3</th>
                <th>{{c5_1_3}}</th>
              </tr>
              <tr>
                <th>C5.1.3A</th>
                <th>{{c5_1_3a}}</th>
              </tr>
              <tr>
                <th>C5.1.3B</th>
                <th>{{c5_1_3b}}</th>
              </tr>
              <tr>
                <th>C5.1.3C</th>
                <th>{{c5_1_3c}}</th>
              </tr>
              <tr>
                <th>C5.1.3D</th>
                <th>{{c5_1_3d}}</th>
              </tr>
              <tr>
                <th>C5.1.3E</th>
                <th>{{c5_1_3e}}</th>
              </tr>
              <tr>
                <th>C5.1.3F</th>
                <th>{{c5_1_3f}}</th>
              </tr>
              <tr>
                <th>C5.1.3G</th>
                <th>{{c5_1_3g}}</th>
              </tr>
              <tr>
                <th>C5.1.3H</th>
                <th>{{c5_1_3h}}</th>
              </tr>
              <tr>
                <th>C5.1.4</th>
                <th>{{c5_1_4}}</th>
              </tr>
              <tr>
                <th>C5.1.5</th>
                <th>{{c5_1_5}}</th>
              </tr>
              <tr>
                <th>C5.1.5</th>
                <th>{{c5_1_5}}</th>
              </tr>
              <tr>
                <th>C5.2.1</th>
                <th>{{c5_2_1}}</th>
              </tr>
              <tr>
                <th>C5.2.2</th>
                <th>{{c5_2_2}}</th>
              </tr>
              <tr>
                <th>C5.2.3</th>
                <th>{{c5_2_3}}</th>
              </tr>
              <tr>
                <th>C5.3.1</th>
                <th>{{c5_3_1}}</th>
              </tr>
              <tr>
                <th>C5.3.2</th>
                <th>{{c5_3_2}}</th>
              </tr>
              <tr>
                <th>C5.3.2A</th>
                <th>{{c5_3_2}}</th>
              </tr>
              <tr>
                <th>C5.3.2B</th>
                <th>{{c5_3_2}}</th>
              </tr>
              <tr>
                <th>C5.3.3</th>
                <th>{{c5_3_3}}</th>
              </tr>
              <tr>
                <th>C5.4.1 </th>
                <th>{{c5_4_1}}</th>
              </tr>
              <tr>
                <th>C5.4.2</th>
                <th>{{c5_4_2}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C6.1.1</th>
                <th>{{c6_1_1}}</th>
              </tr>
              <tr>
                <th>C6.1.2</th>
                <th>{{c6_1_2}}</th>
              </tr>
              <tr>
                <th>C6.2.1</th>
                <th>{{c6_2_1}}</th>
              </tr>
              <tr>
                <th>C6.2.2</th>
                <th>{{c6_2_2}}</th>
              </tr>
              <tr>
                <th>C6.2.3</th>
                <th>{{c6_2_3}}</th>
              </tr>
              <tr>
                <th>C6.2.4</th>
                <th>{{c6_2_4}}</th>
              </tr>
              <tr>
                <th>C6.3.1</th>
                <th>{{c6_3_1}}</th>
              </tr>
              <tr>
                <th>C6.3.2</th>
                <th>{{c6_3_2}}</th>
              </tr>
              <tr>
                <th>C6.3.3</th>
                <th>{{c6_3_3}}</th>
              </tr>
              <tr>
                <th>C6.3.4</th>
                <th>{{c6_3_4}}</th>
              </tr>
              <tr>
                <th>C6.3.5</th>
                <th>{{c6_3_5}}</th>
              </tr>
              <tr>
                <th>C6.4.1</th>
                <th>{{c6_4_1}}</th>
              </tr>
              <tr>
                <th>C6.4.2</th>
                <th>{{c6_4_2}}</th>
              </tr>
              <tr>
                <th>C6.4.3</th>
                <th>{{c6_4_3}}</th>
              </tr>
              <tr>
                <th>C6.5.1</th>
                <th>{{c6_5_1}}</th>
              </tr>
              <tr>
                <th>C6.5.2</th>
                <th>{{c6_5_2}}</th>
              </tr>
              <tr>
                <th>C6.5.3</th>
                <th>{{c6_5_3}}</th>
              </tr>
              <tr>
                <th>C6.5.4</th>
                <th>{{c6_5_4}}</th>
              </tr>
              <tr>
                <th>C6.5.5</th>
                <th>{{c6_5_5}}</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Criterion</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>C7.1.1</th>
                <th>{{c7_1_1}}</th>
              </tr>
              <tr>
                <th>C7.1.2</th>
                <th>{{c7_1_2}}</th>
              </tr>
              <tr>
                <th>C7.1.2A</th>
                <th>{{c7_1_2a}}</th>
              </tr>
              <tr>
                <th>C7.1.2B</th>
                <th>{{c7_1_2b}}</th>
              </tr>
              <tr>
                <th>C7.1.2C</th>
                <th>{{c7_1_2c}}</th>
              </tr>
              <tr>
                <th>C7.1.3</th>
                <th>{{c7_1_3}}</th>
              </tr>
              <tr>
                <th>C7.1.4</th>
                <th>{{c7_1_4}}</th>
              </tr>
              <tr>
                <th>C7.1.5</th>
                <th>{{c7_1_5}}</th>
              </tr>
              <tr>
                <th>C7.1.6</th>
                <th>{{c7_1_6}}</th>
              </tr>
              <tr>
                <th>C7.1.7</th>
                <th>{{c7_1_7}}</th>
              </tr>
              <tr>
                <th>C7.1.8</th>
                <th>{{c7_1_8}}</th>
              </tr>
              <tr>
                <th>C7.1.9</th>
                <th>{{c7_1_9}}</th>
              </tr>
              <tr>
                <th>C7.1.10</th>
                <th>{{c7_1_10}}</th>
              </tr>
              <tr>
                <th>C7.1.11</th>
                <th>{{c7_1_11}}</th>
              </tr>
              <tr>
                <th>C7.1.12</th>
                <th>{{c7_1_12}}</th>
              </tr>
              <tr>
                <th>C7.1.13</th>
                <th>{{c7_1_13}}</th>
              </tr>
              <tr>
                <th>C7.1.14</th>
                <th>{{c7_1_14}}</th>
              </tr>
              <tr>
                <th>C7.1.15</th>
                <th>{{c7_1_15}}</th>
              </tr>
              <tr>
                <th>C7.1.15</th>
                <th>{{c7_1_15}}</th>
              </tr>
              <tr>
                <th>C7.1.16</th>
                <th>{{c7_1_16}}</th>
              </tr>
              <tr>
                <th>C7.1.17</th>
                <th>{{c7_1_17}}</th>
              </tr>
              <tr>
                <th>C7.1.18</th>
                <th>{{c7_1_18}}</th>
              </tr>
              <tr>
                <th>C7.1.19</th>
                <th>{{c7_1_19}}</th>
              </tr>
              <tr>
                <th>C7.2.1</th>
                <th>{{c7_2_1}}</th>
              </tr>
              <tr>
                <th>C7.3.1</th>
                <th>{{c7_3_1}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}

  </body>
</html>