
    {% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %} {% block body %}
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="page-title">Summary</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Summary of Data</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="content container-fluid">-->
<!--      <div class="page-header">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-12">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      {% if messages %}
      <div class="alert  alert-light alert-dismissible fade show" role="alert">{% for message in messages %} {% if message.tags %}
        <span class="{{ message.tags }}">{% endif %} {{ message }} </span>{% endfor %}<button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">??</span></button>
      </div>
      {% endif %}
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-md-10">
          <div style="display:flex; width:auto">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C1.1.1</td>
                    <td>{{c1_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C1.1.2</td>
                    <td>{{c1_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C1.1.3</td>
                    <td>{{c1_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C1.2.1</td>
                    <td>{{c1_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C1.2.2</td>
                    <td>{{c1_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C1.3.1</td>
                    <td>{{c1_3_1}}</td>
                  </tr>
                  <tr>
                    <td>C1.3.2</td>
                    <td>{{c1_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C1.3.3</td>
                    <td>{{c1_3_3}}</td>
                  </tr>
                  <tr>
                    <td>C1.3.4</td>
                    <td>{{c1_3_4}}</td>
                  </tr>
                  <tr>
                    <td>C1.4.1</td>
                    <td>{{c1_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C1.4.2</td>
                    <td>{{c1_4_2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C2.1.1</td>
                    <td>{{c2_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C2.1.2</td>
                    <td>{{c2_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C2.1.3</td>
                    <td>{{c2_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C2.2.1</td>
                    <td>{{c2_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C2.2.2</td>
                    <td>{{c2_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C2.2.3</td>
                    <td>{{c2_2_3}}</td>
                  </tr>
                  <tr>
                    <td>C2.3.1</td>
                    <td>{{c2_3_1}}</td>
                  </tr>
                  <tr>
                    <td>C2.3.2</td>
                    <td>{{c2_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C2.3.3</td>
                    <td>{{c2_3_3}}</td>
                  </tr>
                  <tr>
                    <td>C2.3.4</td>
                    <td>{{c2_3_4}}</td>
                  </tr>
                  <tr>
                    <td>C2.4.1</td>
                    <td>{{c2_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C2.4.2</td>
                    <td>{{c2_4_2}}</td>
                  </tr>
                  <tr>
                    <td>C2.4.3</td>
                    <td>{{c2_4_3}}</td>
                  </tr>
                  <tr>
                    <td>C2.4.4</td>
                    <td>{{c2_4_4}}</td>
                  </tr>
                  <tr>
                    <td>C2.4.5</td>
                    <td>{{c2_4_5}}</td>
                  </tr>
                  <tr>
                    <td>C2.5.1</td>
                    <td>{{c2_5_1}}</td>
                  </tr>
                  <tr>
                    <td>C2.5.2</td>
                    <td>{{c2_5_2}}</td>
                  </tr>
                  <tr>
                    <td>C2.5.3</td>
                    <td>{{c2_5_3}}</td>
                  </tr>
                  <tr>
                    <td>C2.5.4</td>
                    <td>{{c2_5_4}}</td>
                  </tr>
                  <tr>
                    <td>C2.6.1</td>
                    <td>{{c2_6_1}}</td>
                  </tr>
                  <tr>
                  <td>C2.6.2</td>
                  <td>{{c2_6_2}}</td>
                  </tr>
                  <tr>
                  <td>C2.6.3</td>
                  <td>{{c2_6_3}}</td>
                  </tr>
                  <tr>
                  <td>C2.7.1</td>
                  <td>{{c2_7_1}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C3.1.1</td>
                    <td>{{c3_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.1.2</td>
                    <td>{{c3_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.1.3</td>
                    <td>{{c3_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.1.4</td>
                    <td>{{c3_1_4}}</td>
                  </tr>
                  <tr>
                    <td>C3.2.1</td>
                    <td>{{c3_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.2.2</td>
                    <td>{{c3_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.2.3</td>
                    <td>{{c3_2_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.2.4</td>
                    <td>{{c3_2_4}}</td>
                  </tr>
                  <tr>
                    <td>C3.3.1</td>
                    <td>{{c3_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.3.2</td>
                    <td>{{c3_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.3.3</td>
                    <td>{{c3_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.1</td>
                    <td>{{c3_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.2</td>
                    <td>{{c3_4_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.3</td>
                    <td>{{c3_4_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.4</td>
                    <td>{{c3_4_4}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.5</td>
                    <td>{{c3_4_5}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.6 </td>
                    <td>{{c3_4_6}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.7</td>
                    <td>{{c3_4_7}}</td>
                  </tr>
                  <tr>
                    <td>C3.4.8</td>
                    <td>{{c3_4_8}}</td>
                  </tr>
                  <tr>
                    <td>C3.5.1</td>
                    <td>{{c3_5_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.5.2</td>
                    <td>{{c3_5_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.5.3</td>
                    <td>{{c3_5_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.6.1</td>
                    <td>{{c3_6_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.6.2</td>
                    <td>{{c3_6_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.6.3</td>
                    <td>{{c3_6_3}}</td>
                  </tr>
                  <tr>
                    <td>C3.6.4</td>
                    <td>{{c3_6_4}}</td>
                  </tr>
                  <tr>
                    <td>C3.7.1</td>
                    <td>{{c3_7_1}}</td>
                  </tr>
                  <tr>
                    <td>C3.7.2</td>
                    <td>{{c3_7_2}}</td>
                  </tr>
                  <tr>
                    <td>C3.7.3</td>
                    <td>{{c3_7_3}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C4.1.1</td>
                    <td>{{c4_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2</td>
                    <td>{{c4_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2A</td>
                    <td>{{c4_1_2a}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2B</td>
                    <td>{{c4_1_2b}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2C</td>
                    <td>{{c4_1_2c}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2D</td>
                    <td>{{c4_1_2d}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.2E</td>
                    <td>{{c4_1_2e}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.3</td>
                    <td>{{c4_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C4.1.4</td>
                    <td>{{c4_1_4}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.1</td>
                    <td>{{c4_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.2</td>
                    <td>{{c4_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.3</td>
                    <td>{{c4_2_3}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.4</td>
                    <td>{{c4_2_4}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.5</td>
                    <td>{{c4_2_5}}</td>
                  </tr>
                  <tr>
                    <td>C4.2.6</td>
                    <td>{{c4_2_6}}</td>
                  </tr>
                  <tr>
                    <td>C4.3.1</td>
                    <td>{{c4_3_1}}</td>
                  </tr>
                  <tr>
                    <td>C4.3.2</td>
                    <td>{{c4_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C4.3.3</td>
                    <td>{{c4_3_3}}</td>
                  </tr>
                  <tr>
                    <td>C4.3.4</td>
                    <td>{{c4_3_4}}</td>
                  </tr>
                  <tr>
                    <td>C4.4.1</td>
                    <td>{{c4_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C4.4.2</td>
                    <td>{{c4_4_2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C5.1.1</td>
                    <td>{{c5_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.2</td>
                    <td>{{c5_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3</td>
                    <td>{{c5_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3A</td>
                    <td>{{c5_1_3a}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3B</td>
                    <td>{{c5_1_3b}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3C</td>
                    <td>{{c5_1_3c}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3D</td>
                    <td>{{c5_1_3d}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3E</td>
                    <td>{{c5_1_3e}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3F</td>
                    <td>{{c5_1_3f}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3G</td>
                    <td>{{c5_1_3g}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.3H</td>
                    <td>{{c5_1_3h}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.4</td>
                    <td>{{c5_1_4}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.5</td>
                    <td>{{c5_1_5}}</td>
                  </tr>
                  <tr>
                    <td>C5.1.5</td>
                    <td>{{c5_1_5}}</td>
                  </tr>
                  <tr>
                    <td>C5.2.1</td>
                    <td>{{c5_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C5.2.2</td>
                    <td>{{c5_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C5.2.3</td>
                    <td>{{c5_2_3}}</td>
                  </tr>
                  <tr>
                    <td>C5.3.1</td>
                    <td>{{c5_3_1}}</td>
                  </tr>
                  <tr>
                    <td>C5.3.2</td>
                    <td>{{c5_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C5.3.2A</td>
                    <td>{{c5_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C5.3.2B</td>
                    <td>{{c5_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C5.3.3</td>
                    <td>{{c5_3_3}}</td>
                  </tr>
                  <tr>
                    <td>C5.4.1 </td>
                    <td>{{c5_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C5.4.2</td>
                    <td>{{c5_4_2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C6.1.1</td>
                    <td>{{c6_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C6.1.2</td>
                    <td>{{c6_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C6.2.1</td>
                    <td>{{c6_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C6.2.2</td>
                    <td>{{c6_2_2}}</td>
                  </tr>
                  <tr>
                    <td>C6.2.3</td>
                    <td>{{c6_2_3}}</td>
                  </tr>
                  <tr>
                    <td>C6.2.4</td>
                    <td>{{c6_2_4}}</td>
                  </tr>
                  <tr>
                    <td>C6.3.1</td>
                    <td>{{c6_3_1}}</td>
                  </tr>
                  <tr>
                    <td>C6.3.2</td>
                    <td>{{c6_3_2}}</td>
                  </tr>
                  <tr>
                    <td>C6.3.3</td>
                    <td>{{c6_3_3}}</td>
                  </tr>
                  <tr>
                    <td>C6.3.4</td>
                    <td>{{c6_3_4}}</td>
                  </tr>
                  <tr>
                    <td>C6.3.5</td>
                    <td>{{c6_3_5}}</td>
                  </tr>
                  <tr>
                    <td>C6.4.1</td>
                    <td>{{c6_4_1}}</td>
                  </tr>
                  <tr>
                    <td>C6.4.2</td>
                    <td>{{c6_4_2}}</td>
                  </tr>
                  <tr>
                    <td>C6.4.3</td>
                    <td>{{c6_4_3}}</td>
                  </tr>
                  <tr>
                    <td>C6.5.1</td>
                    <td>{{c6_5_1}}</td>
                  </tr>
                  <tr>
                    <td>C6.5.2</td>
                    <td>{{c6_5_2}}</td>
                  </tr>
                  <tr>
                    <td>C6.5.3</td>
                    <td>{{c6_5_3}}</td>
                  </tr>
                  <tr>
                    <td>C6.5.4</td>
                    <td>{{c6_5_4}}</td>
                  </tr>
                  <tr>
                    <td>C6.5.5</td>
                    <td>{{c6_5_5}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Criterion</th>
                    <th>Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C7.1.1</td>
                    <td>{{c7_1_1}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.2</td>
                    <td>{{c7_1_2}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.2A</td>
                    <td>{{c7_1_2a}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.2B</td>
                    <td>{{c7_1_2b}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.2C</td>
                    <td>{{c7_1_2c}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.3</td>
                    <td>{{c7_1_3}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.4</td>
                    <td>{{c7_1_4}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.5</td>
                    <td>{{c7_1_5}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.6</td>
                    <td>{{c7_1_6}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.7A</td>
                    <td>{{c7_1_7a}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.7B</td>
                    <td>{{c7_1_7b}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.7C</td>
                    <td>{{c7_1_7c}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.7D</td>
                    <td>{{c7_1_7d}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.8</td>
                    <td>{{c7_1_8}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.9</td>
                    <td>{{c7_1_9}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.10</td>
                    <td>{{c7_1_10}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.11</td>
                    <td>{{c7_1_11}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.12</td>
                    <td>{{c7_1_12}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.13</td>
                    <td>{{c7_1_13}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.14</td>
                    <td>{{c7_1_14}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.15</td>
                    <td>{{c7_1_15}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.15</td>
                    <td>{{c7_1_15}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.16</td>
                    <td>{{c7_1_16}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.17</td>
                    <td>{{c7_1_17}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.18</td>
                    <td>{{c7_1_18}}</td>
                  </tr>
                  <tr>
                    <td>C7.1.19</td>
                    <td>{{c7_1_19}}</td>
                  </tr>
                  <tr>
                    <td>C7.2.1</td>
                    <td>{{c7_2_1}}</td>
                  </tr>
                  <tr>
                    <td>C7.3.1</td>
                    <td>{{c7_3_1}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
    </div>
    {% endblock %}
