{% extends 'user/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block body %}
{% load icon %}
<!-- Main Content -->
	 <div class="content container-fluid">

         <h3> Enter password for Update Tables</h3>

         <div>
            <div class="col-sm-12">
                    {% if messages %}
                    <div class="alert  alert-light alert-dismissible fade show" role="alert">
                    {% for message in messages %} {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} 	{{ message }} </span> {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    {% endif %}
            </div>
             <div class="col-sm-6">
             <form method="post" action="">
                 {% csrf_token %}

               <div class="mb-3">
                <label for="password" class="form-label"> Super User pass word </label>
                <input type="text" name="password" class="form-control" id="password" aria-describedby="emailHelp">
                 </div>
                 <div class="mb-3">
                 <label for="option" class="form-label"> Choose option - 1: Tables - 2 Reports </label>
                 <input type="text" name="option" class="form-control" id="option" aria-describedby="emailHelp">
                </div>

              <button type="submit" class="btn btn-primary" onClick="return confirm('Are you sure you want to Update all Tables ?')">
                  Update </button>
             </form>
             </div>
                <br>
             <p> Note :- Please don't update if you are not a Technical staff and Not necessary the update. </p>
                 There is a risk for loss all table structure while updating the tables.
                 Take a backup before doing this updating
         </div>
        <br>
         <div class="row">
             <a href="/auto-update/data-entry"> <h3> Field Entry Form </h3>  </a>
         </div>

     </div>


<!-- End Main content-->
{% endblock %}