{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->
{% block body %}


<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List Departments Page</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">List All Departments</a></li>
                        <li class="breadcrumb-item active">Admin - Dept.</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-0">
				<div class="card-header">
					<h4 class="card-title mb-0" id="crtitile">Departments </h4>
					<p class="card-text">
						This is the list of Department registered .
					</p>
					 <a href="/programs/departments/add"> <button type="button" class="btn btn-success">Add Department</button> </a>
				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="datatable table table-stripped mb-0">
							<thead>
								<tr>
									<th>SL</th>
									<th>Department</th>
									<th>Code</th>
									<th>Description</th>
									<th>Established On</th>
									<th>Status</th>
									<th>Change Status </th>
									<th> Update </th>
								</tr>
							</thead>
							<tbody>
							{% for dept in departments %}
								<tr>
									<td> {{forloop.counter}}  </td>
									<td> {{dept.name}} </td>
									<td>{{dept.code}}</td>
									<td>{{dept.description}}</td>
									<td>{{dept.established_at}}</td>
									<td>  {% if dept.status %}
										<button type="button" class="btn btn-primary btn-sm">Active</button>
											{% else %}
										<button type="button" class="btn btn-secondary btn-sm">Inactive</button>
											{% endif %}
									</td>
									 {% if dept.status %}
									 <td>  <form method="post" action="/programs/departments/disable/{{dept.id}}" 
									 	   onSubmit="return confirm('Do you want to Disable ?')" >
										 {% csrf_token %}
										 <button type="submit" class="btn btn-danger btn-sm">Disable </button>  </form> </td>
									{% else %}
									 <td>  <form method="post" action="/programs/departments/approve/{{dept.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-success btn-sm"> Activate </button>
									 </form> </td>
									{% endif %}
									 <td>  <form method="post" action="/programs/departments/update/{{dept.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-info btn-sm"> Update </button>
										
									 </form> </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- End Main content-->


{% endblock %}