{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->
{% block body %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"> </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"> </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"> </script>
     <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"> </script>
     <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"> </script>
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
<!--            <div class="row">-->
<!--                <div class="col-sm-12">-->
<!--                    <h3 class="page-title">List Events</h3>-->
<!--                    <ul class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="index.html">List All Events</a></li>-->
<!--                        <li class="breadcrumb-item active">Admin - Events.</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-0">
				<div class="card-header">
					<h3 class="page-title">List Papers</h3>
					<p class="card-text">
                        All Subjects </p>

                     <a href="/programs/subjects/add"> <button type="button" class="btn btn-success">Add Subject</button> </a>

				</div>
				<div class="card-body">

					<div class="table-responsive">
						     <table id="example" class="display nowrap" style="width:100%">
								<thead>
									<tr style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>Program</th>
                                        <th>Department</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Established On</th>
                                        <th>Status</th>
                                        <th>Change Status </th>
                                        <th> Update </th>
								    </tr>
								</thead>
								<tbody>
                                     {% for sbjt in Subjects %}
                                        <tr style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
                                            <td> {{forloop.counter}}  </td>
                                            <td> {{sbjt.name}} </td>
                                            <td> {{sbjt.program}} </td>
                                            <td> {{sbjt.department}} </td>
                                            <td>{{sbjt.code}}</td>
                                            <td>{{sbjt.description}}</td>
                                            <td>{{sbjt.established_at}}</td>
                                            <td>  {% if sbjt.status %}
                                                <button type="button" class="btn btn-primary btn-sm">Active</button>
                                                    {% else %}
                                                <button type="button" class="btn btn-secondary btn-sm">Inactive</button>
                                                    {% endif %}
                                            </td>
                                             {% if sbjt.status %}
                                             <td>  <form method="post" action="/programs/subjects/disable/{{sbjt.id}}"
                                                     onSubmit="return confirm('Do you want to Disable ?')" >
                                                 {% csrf_token %}
                                                 <button type="submit" class="btn btn-danger btn-sm">Disable </button>  </form> </td>
                                            {% else %}
                                             <td>  <form method="post" action="/programs/subjects/approve/{{sbjt.id}}">
                                                 {% csrf_token %}
                                                 <button type="submit" class="btn btn-success btn-sm"> Activate </button>
                                             </form> </td>
                                            {% endif %}
                                             <td>  <form method="get" action="/programs/subjects/update/{{sbjt.id}}">
                                                 <button type="submit" class="btn btn-info btn-sm"> Update </button>
                                             </form> </td>
                                        </tr>
                                    {% endfor %}
								</tbody>
								 <tfoot>
						            <tr style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;">
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>Program</th>
                                        <th>Department</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Established On</th>
                                        <th>Status</th>
                                        <th>Change Status </th>
                                        <th> Update </th>
								     </tr>
								 </tfoot>
							 </table>

							<script type="text/javascript">
										$(document).ready(function() {
										$('#example').DataTable( {
											dom: 'Bfrtip',
											buttons: [
												'copyHtml5',
												'excelHtml5',
												'csvHtml5',
												'pdfHtml5'
											]
										} );
									} );

							</script>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- End Main content-->


{% endblock %}