
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Date </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Batch </td>
                            <td> {{obj.batch }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Program </td>
                            <td> {{obj.program }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Paper </td>
                            <td> {{obj.paper }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Learning_objective </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Relevance </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Beneficiaries </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Course Outcome </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Program Outcome </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Program Specific Outcome </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Info Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Links </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    