
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Date </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td>  Department </td>
                            <td> {{obj.department }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the Course  </td>
                            <td> {{obj.paper }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Course Code  </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Type of course  </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td>  Program </td>
                            <td> {{obj.program }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Focus of the activity  </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of Introduction  </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Beneficiaries  </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Date of BOS Meeting  </td>
                            <td> {{obj.date2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Date of Academic Council  </td>
                            <td> {{obj.date3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> MOU with Organizations  </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Impact / Outcome  </td>
                            <td> {{obj.text7 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Programme / Curriculum/ Syllabus of the courses </td>
                                <td> {% if obj.file2 %}
                                <a href="{{obj.file2.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                            
                              <tr>
                                <td>  Minutes of the Boards of Studies/ Academic Council meetings with approvals for these courses </td>
                                <td> {% if obj.file3 %}
                                <a href="{{obj.file3.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                            
                              <tr>
                                <td> MoUs with relevant organizations for these courses, if any </td>
                                <td> {% if obj.file4 %}
                                <a href="{{obj.file4.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                            
                              <tr>
                                <td> Average percentage of courses having focus on employability/ entrepreneurship(Data Template) </td>
                                <td> {% if obj.file5 %}
                                <a href="{{obj.file5.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                            
                              <tr>
                                <td>  Additional Info files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional info Links </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    