
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Date </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td>  Department </td>
                            <td> {{obj.department }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Value Added Course introduced </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of Implementation </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Course code </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Number of Contact Hours </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Faculty Charge </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Activities </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> External Resource Person </td>
                            <td> {{obj.text7 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Number of Students Registration </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Number of students Completed the course </td>
                            <td> {{obj.text9 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Number of times Course Offered per year  </td>
                            <td> {{obj.text10 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of Discontinuation of the Course </td>
                            <td> {{obj.text11 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Outcome </td>
                            <td> {{obj.text12 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> List of students enrolled </td>
                                <td> {% if obj.file2 %}
                                <a href="{{obj.file2.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                            
                              <tr>
                                <td>  Additional Info files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional info Links </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    