
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Year </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Percentage of automation </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Implementation of EMS </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Method of Student Registration  </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Method of Issuing Hall Ticket </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Method of processing Result </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Method of publishing Result </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Manual of Examination </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Report of Examination </td>
                            <td> {{obj.text9 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Information Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Link </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    