
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Year </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Semester </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the student </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Gender </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> category </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> state of domicile </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> nationality </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> e-mail id </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Program Name  </td>
                            <td> {{obj.program }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Student unique enrollment id </td>
                            <td> {{obj.text10 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Mobile no </td>
                            <td> {{obj.text11 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Aadhar no </td>
                            <td> {{obj.text12 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of joining </td>
                            <td> {{obj.text13 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Information Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Link </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    