
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Year </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the PhD scholar </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the Department </td>
                            <td> {{obj.department }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the guide/s </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Title of the thesis </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of registration of the scholar </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Year of award of PhD </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the supporting documents attached* </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Information Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Link </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    