
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Year </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Name of the Author </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Department </td>
                            <td> {{obj.department }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Designation </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Title of the paper </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Title of the journal </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> year of publication </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Citation index </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Institutional affiliation as mentioned in the publication  </td>
                            <td> {{obj.text9 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> No. of citation excluding self citation  </td>
                            <td> {{obj.text10 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> INFLIBNET Data </td>
                            <td> {{obj.text11 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Information Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Link </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    