
                    {% extends 'criteria/detailed_view.html' %} {% load static %}
                    {% block data_content %}
            
                      
                        <tr>
                            <td> Year </td>
                            <td> {{obj.date }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Department / General / Library </td>
                            <td> {{obj.text1 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> No. of Class Rooms </td>
                            <td> {{obj.text2 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> No. of Laboratories </td>
                            <td> {{obj.text3 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> List of Equipment in the labs </td>
                            <td> {{obj.text4 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Cost of Equipments </td>
                            <td> {{obj.text5 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Source of Fund </td>
                            <td> {{obj.text6 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Software </td>
                            <td> {{obj.text8 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Smart Classroom </td>
                            <td> {{obj.text9 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Classroom with LCD </td>
                            <td> {{obj.text10 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> No. of Computers </td>
                            <td> {{obj.text11 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> E-learning resources </td>
                            <td> {{obj.text12 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Others </td>
                            <td> {{obj.text13 }} </td> 
                        </tr>    
                         
                        <tr>
                            <td> Department Library </td>
                            <td> {{obj.text14 }} </td> 
                        </tr>    
                        
                              <tr>
                                <td> Additional Information Files </td>
                                <td> {% if obj.file1 %}
                                <a href="{{obj.file1.url}}" target="_blank"> View </a>
                                 {% else %} No Files {% endif %} </td> 
                              </tr>   
                             
                        <tr>
                            <td> Additional Info Link </td>
                            <td> {{obj.url1 }} </td> 
                        </tr>    
                        
                    
                   {% endblock %}
                    