<!DOCTYPE html>
<html lang="en" xmlns:pdf="">
{% load static %}
{% load table_values %}
<head>
    <meta charset="UTF-8">
    <title>NAAC - Generate PDF Reports</title>
   <style>
     @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 30pt; height: 20pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 50pt; height: 732pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 782pt; height: 20pt;
        }
    }
       iframe{
            overflow:hidden;
        }
   </style>
</head>
<body>

<div class="card-body">

            {% for obj in object_list %}

                   {% if obj.file1 %}

                        {% if obj.file1|imgtype  %}
                        <div id="header_content1">   Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                            {% if s3_status %}
                             <img src="{{obj.file1.url}}" />
                            {% else %}
                            <img src="{{media_url}}{{obj.additional_info_files}}" />
                            {% endif %}
                            <pdf:nextpage />
                        {% endif %}
                   {% endif %}


                    {% if obj.file2 %}

                        {% if obj.file2|imgtype  %}
                        <div id="header_content2">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                            {% if s3_status %}
                             <img src="{{obj.file2.url}}" />
                            {% else %}
                            <img src="{{media_url}}{{obj.file2}}" />
                            {% endif %}
                            <pdf:nextpage />
                        {% endif %}
                   {% endif %}

                    {% if obj.file3 %}

                        {% if obj.file3|imgtype  %}
                        <div id="header_content3">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>

                            {% if s3_status %}
                             <img src="{{obj.file3.url}}" />
                            {% else %}
                            <img src="{{media_url}}{{obj.file3}}" />
                            {% endif %}
                            <pdf:nextpage />
                        {% endif %}
                   {% endif %}

                    {% if obj.file4 %}

                        {% if obj.file4|imgtype  %}
                        <div id="header_content4">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}}  </div>

                            {% if s3_status %}
                             <img src="{{obj.file4.url}}" />
                            {% else %}
                            <img src="{{media_url}}{{obj.file4}}" />
                            {% endif %}
                            <pdf:nextpage />
                        {% endif %}
                   {% endif %}

                    {% if obj.file5 %}

                        {% if obj.mou|imgtype  %}
                        <div id="header_content5">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}}  </div>

                            {% if s3_status %}
                             <img src="{{obj.file5.url}}" />
                            {% else %}
                            <img src="{{media_url}}{{obj.file5}}" />
                            {% endif %}
                            <pdf:nextpage />
                        {% endif %}
                   {% endif %}


<!--   #_______________________* Showing Manual Download Links for unsupported file types * ______________________#-->

           {% for obj in object_list %}

                   {% if obj.file1 %}

                        {% if obj.file1|imgpdftype %}
                        {% else %}
     <div id="header_content11">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                        <h3>File type not supporting - Please print Manually:  &nbsp;
                         {% if s3_status %}
                            {{obj.id}} -
                           <a href="{{obj.file1.url}}" target="_blank" >
                         Click to Download </a>
                         {% else %}
                            {{obj.id}} -
                            <a href="{{media_url}}{{obj.file1}}" target="_blank" >
                           Click to Download </a>
                         {% endif %}
                        </h3>
                        {% endif %}
                   {% endif %}

<!--    Minutes-->
                    {% if obj.file2 %}

                        {% if obj.file2|imgpdftype %}
                        {% else %}
    <div id="header_content12">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                        <h3>File type not supporting - Please print Manually:  &nbsp;
                         {% if s3_status %}
                            {{obj.id}} -
                           <a href="{{obj.file2.url}}" target="_blank" >
                         Click to Download </a>
                         {% else %}
                            {{obj.id}} -
                            <a href="{{media_url}}{{obj.file2}}" target="_blank" >
                           Click to Download </a>
                         {% endif %}
                        </h3>
                        {% endif %}
                   {% endif %}
<!--                    -->
<!--    Revision details-->
                    {% if obj.file3 %}

                        {% if obj.file3|imgpdftype %}
                        {% else %}
    <div id="header_content13">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                        <h3>File type not supporting - Please print Manually:  &nbsp;
                         {% if s3_status %}
                            {{obj.id}} -
                           <a href="{{obj.file3.url}}" target="_blank" >
                         Click to Download </a>
                         {% else %}
                            {{obj.id}} -
                            <a href="{{media_url}}{{obj.file3}}" target="_blank" >
                           Click to Download </a>
                         {% endif %}
                        </h3>
                        {% endif %}
                   {% endif %}
<!--   Syllabus-->
                    {% if obj.file4 %}

                        {% if obj.file4|imgpdftype %}
                        {% else %}
    <div id="header_content14">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                        <h3>File type not supporting - Please print Manually:  &nbsp;
                         {% if s3_status %}
                            {{obj.id}} -
                           <a href="{{obj.file4.url}}" target="_blank" >
                         Click to Download </a>
                         {% else %}
                            {{obj.id}} -
                            <a href="{{media_url}}{{obj.file4}}" target="_blank" >
                           Click to Download </a>
                         {% endif %}
                        </h3>
                        {% endif %}
                   {% endif %}
                {% endfor %}
<!--  MOU-->
                    {% if obj.file5 %}

                        {% if obj.file5|imgpdftype %}
                        {% else %}
                <div id="header_content15">  Criteria:  &nbsp; {{obj.criteria_id}} - &nbsp;  User:  &nbsp; {{obj.user}} </div>
                        <h3>File type not supporting - Please print Manually:  &nbsp;
                         {% if s3_status %}
                            {{obj.id}} -
                           <a href="{{obj.file5.url}}" target="_blank" >
                         Click to Download </a>
                         {% else %}
                            {{obj.id}} -
                            <a href="{{media_url}}{{obj.file5}}" target="_blank" >
                           Click to Download </a>
                         {% endif %}
                        </h3>
                        {% endif %}
                   {% endif %}
                {% endfor %}
    </div>

   <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content"> (c) 2021 VASS NAAC Assistant - page <pdf:pagenumber/>
        of <pdf:pagecount/>
    </div>

</div>

</body>
</html>