{% extends 'user/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
{% load icon %}
<!-- Main Content -->
	 <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Dashboard</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">User Home</li>
								</ul>
							</div>
						</div>
					</div>

	 </div>


		<!-- Page Wrapper -->
<!--            <div class="page-wrapper">-->

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome {{user.first_name}} {{user.last_name}} </h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Your Current Role is: {{user.user_scope}}
										{% if user.user_scope == "CLUB" %}
										&nbsp;and club name is: {{user.clubs}}
										{% endif %}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					        {% if messages %}
							<div class="alert  alert-light alert-dismissible fade show" role="alert">
							{% for message in messages %} {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} 	{{ message }} </span> {% endfor %}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
							</button>
							</div>
							{% endif %}


					<div class="row">
					<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-drivers-license-o"></i>
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-1</h4>
										<span> <a href="/criteria/c1_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
							 {% icon "user-check" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-2</h4>
										<span> <a href="/criteria/c2_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										 {% icon "search" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-3</h4>
										<span> <a href="/criteria/c3_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										 {% icon "home" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-4</h4>
										<span> <a href="/criteria/c4_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										 {% icon "users" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-5</h4>
										<span> <a href="/criteria/c5_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										 {% icon "pocket" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-6</h4>
										<span> <a href="/criteria/c6_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										{% icon "trending-up" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION-7</h4>
										<span> <a href="/criteria/c7_1_1">View all assigned criterions </a> </span>
									</div>
								</div>
							</div>
						</div>

                        	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon">
										{% icon "plus-circle" class="css-class" height="50" width="50" %}
                                    </span>
									<div class="dash-widget-info">
										<h4>CRITERION X</h4>
										<span> View all assigned criterions </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<nav aria-label="breadcrumb">
								<ol class="breadcrumb">

						<li class="breadcrumb-item active" aria-current="page">Other Details

						 </li>
								</ol>
							</nav>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="card-group m-b-30">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-3">
											<div>
												<span class="d-block">Total Criterions</span>
											</div>
											<div>
<!--												<span class="text-success">+10%</span>-->
											</div>
										</div>
										<h3 class="mb-3">{{total_criterions}}</h3>
										<div class="progress mb-2" style="height: 5px;">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">Previous Data </p>
									</div>
								</div>

								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-3">
											<div>
												<span class="d-block">Assigned for You</span>
											</div>
											<div>
<!--												<span class="text-success">+12.5%</span>-->
											</div>
										</div>
										<h3 class="mb-3"> {{assigned_criterion}} </h3>
										<div class="progress mb-2" style="height: 5px;">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0"> For the Current Role only  : <span class="text-muted">{{user.user_scope}}</span></p>
									</div>
								</div>

								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-3">
											<div>
												<span class="d-block">You have Attended</span>
											</div>
											<div>
<!--												<span class="text-danger">-2.8%</span>-->
											</div>
										</div>
										<h3 class="mb-3">{{user_input}}</h3>
										<div class="progress mb-2" style="height: 5px;">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">From all user roles (Including Teacher) :<span class="text-muted">
											{% for club in clubs %} {{club.name}} &nbsp; {% endfor %}
										</span></p>
									</div>
								</div>

								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-3">
											<div>
												<span class="d-block">Pending</span>
											</div>
											<div>
<!--												<span class="text-danger">-75%</span>-->
											</div>
										</div>
										<h3 class="mb-3">{{pending_input}}</h3>
										<div class="progress mb-2" style="height: 5px;">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p class="mb-0">From all user roles (Including Teacher) <span class="text-muted">
											{% for club in clubs %} {{club.name}} &nbsp; {% endfor %}
										</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>

            </div>
			<!-- /Page Wrapper -->




<!-- End Main content-->
{% endblock %}